.portada__productos {
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 40px;
}