footer {
    background-color: #994343;
    color: #E6E48C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-position: center;
    background-size: cover;
    position:relative;
}