#form__contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#menu__reclamo{
    width: 25%;
}

#nombre__usuario{
    color: rgba(0, 0, 0, 0.308);
}

#mail__usuario{
    color: rgba(0, 0, 0, 0.308);
}

