header {
    background-color: #4B7B99;
    display: flex;
    align-content: center;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
}

.logo {
    padding: 8px 30px 0px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 70px;
}

.barra__busqueda {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    width: 70%;
    height: 80px;
}

