*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    margin-top: 1rem;
    background-color: rgba(137, 43, 226, 0.158);
}

footer{
    background-color: darkslateblue;
}

h5{
    color: aliceblue;
    font-weight: bold;
}



