#btn__comprar{
    display: flex;
    justify-content: center;
}

.btn__compra {
    background-color: #994343;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid #994343;
    transition-duration: 1s;
}

.btn:hover {
    border: 2px solid #994343;
    background-color: white;
    color: #994343;
    transform: rotateX(360deg);
}

.btn {
    background-color: #994343;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid #994343;
    transition-duration: 1s;
}


