#tarjeta:hover {
    background-color: rgba(153, 67, 67, 0.5215686275);
}

.tarjeta__title {
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

#tarjeta__img {
    transition: 1s;
}

#tarjeta__img:hover {
    transform:scale(1.1);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    gap: 20px;
}

#tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition-duration: 1s;
}